  <ol class="search_result_entries">
    <% @result_set.paginated_records.each do |entry| %>
      <li class="search_result_entry">
        <div class="search_result_entry_header">
          <span class="search_result_title"><%= link_to entry.title, entry.key %></span>
          <span class="search_result_location"><%= link_to entry.key, entry.key %></span>
        </div>
        <div class="search_result_summary"><%=
               raw(entry.summary(@result_set.expression,
                                 :size => @summary_size,
                                 :highlight => "<em>%S</em>",
                                 :separator => t("search_result_summary_ellipses"),
                                 :html_escape => true))
        %></div>
        <ul class="search_result_drilldown_entries">
          <% entry.drilldown_entries.each do |entry| %>
            <li class="search_result_drilldown_<%= entry.key %>_entry">
              <%= drilldown_link(entry) %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ol>
