<h1>全文検索</h1>
<% form_for(@search_request,
            :url => {:controller => "search",
                     :action => "index"}) do |f| %>
  <p><%= f.text_field :query, :size => 25 %><%= submit_tag "検索" %></p>
  <%= f.hidden_field :category %>
  <%= f.hidden_field :type %>
<% end %>

<%= unless @topic_path_items.empty?
      render(:partial => "topic_path",
             :locals => {:items => @topic_path_items})
    end %>

<%= unless @drilldown_groups.empty?
      render(:partial => "drilldown_groups",
             :locals => {:groups => @drilldown_groups,
                         :base_path => @base_path,
                         :search_request_params => @search_request_params})
    end %>

<% unless @search_request.empty?
     if @entries.size > 0
       %><%= render(:partial => "results",
                    :locals => {:entries => @entries,
                                :raw_entries => @raw_entries}) %><%
     else
       %><p>ヒットする検索結果はありませんでした。</p><%
     end
   end %>

