<div class="search_request">
  <%= render :partial => "form" %>
  <%= render :partial => "drilldown_groups" %>
  <% unless @topic_path_items.empty? %>
    <ol class="topic_path">
      <% @topic_path_items.each do |item| %>
        <li class="topic_path_item"
            data-param="<%= item[:param] %>"
            data-value="<%= item[:value] %>">
            <% if @topic_path_items.last == item %>
              <span class="topic_path_current_label"><%= item[:label] %></span>
            <% else %>
              <%= link_to item[:label],
                          item[:path],
                          :title => item[:title],
                          :class => "topic_path_link" %>
            <% end %>
            <%= link_to image_tag("delete.png",
                                  :alt => item[:reduce_title],
                                  :size => "16x16"),
                        item[:reduce_path],
                        :title => item[:reduce_title],
                        :class => "topic_path_reduce_link" %>
        </li>
      <% end %>
    </ol>
  <% end %>
</div>

<% unless @search_request.empty? %>
  <div class="search_result">
    <% if @result_set.size > 0 %>
      <p class="search_result_count"><%= t("search_result_count", :count => @result_set.paginated_records.total_entries ) %></p>
      <%= will_paginate @result_set.paginated_records,
                        :previous_label => t("search_result_previous_link"),
                        :next_label => t("search_result_next_link"),
                        :id => "pagination_top" %>
      <ol class="search_result_items">
        <% @result_set.paginated_records.each do |entry| %>
          <li class="search_result_item">
            <div class="search_result_item_header">
              <span class="search_result_title"><%= link_to entry.title, entry.url %></span>
              <span class="search_result_location"><%= link_to entry.url, entry.url %></span>
            </div>
            <div class="search_result_summary"><%=
                   raw(entry.summary(@result_set.expression,
                                     :size => @summary_size,
                                     :highlight => "<em>%S</em>",
                                     :separator => t("search_result_summary_ellipses"),
                                     :html_escape => true))
            %></div>
            <ul class="search_result_drilldown_items">
              <% entry.drilldown_items.each do |item| %>
                <li class="search_result_drilldown_<%= item.key.to_s %>_item">
                  <% case item.key %>
                  <% when :type %>
                    <%= filetype_icon(item.value, item.label, item.path(:base_path => @base_path)) %>
                  <% else %>
                    <%= link_to item.label, item.path(:base_path => @base_path) %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ol>
      <%= will_paginate @result_set.paginated_records,
                        :previous_label => t("search_result_previous_link"),
                        :next_label => t("search_result_next_link"),
                        :id => "pagination_bottom" %>
    <% else %>
      <p class="search_result_message"><%= t("search_result_not_found_message") %></p>
    <% end %>
  </div>
<% end %>

