<div class="search_request">
  <%= render :partial => "form" %>
  <%= render :partial => "drilldown_groups" %>
  <% unless @topic_path_items.empty? %>
    <ol class="topic_path">
      <% @topic_path_items.each do |item| %>
        <li class="topic_path_item"
            data-param="<%= item[:param] %>"
            data-value="<%= item[:value] %>">
            <% if @topic_path_items.last == item %>
              <span class="topic_path_current_label"><%= item[:label] %></span>
            <% else %>
              <%= link_to item[:label],
                          item[:path],
                          :title => item[:title],
                          :class => "topic_path_link" %>
            <% end %>
            <%= link_to image_tag("delete.png",
                                  :alt => item[:reduce_title],
                                  :size => "16x16"),
                        item[:reduce_path],
                        :title => item[:reduce_title],
                        :class => "topic_path_reduce_link" %>
        </li>
      <% end %>
    </ol>
  <% end %>
</div>

<% unless @search_request.empty? %>
<div class="search_result">
  <% if @result_set.size > 0 %>
    <p class="search_result_count"><%= t("search_result_count", :count => @result_set.paginated_records.total_entries ) %></p>
    <%= will_paginate @result_set.paginated_records,
		      :previous_label => t("search_result_previous_link"),
		      :next_label => t("search_result_next_link"),
		      :id => "pagination_top" %>
    <%= render(:partial => "entries") %>
    <%= will_paginate @result_set.paginated_records,
		      :previous_label => t("search_result_previous_link"),
		      :next_label => t("search_result_next_link"),
		      :id => "pagination_bottom" %>
  <% else %>
    <p class="search_result_message"><%= t("search_result_not_found_message") %></p>
  <% end %>
<% end %>
