<%= render :partial => "form" %>

<% unless @topic_path_items.empty? %>
  <ul class="topic_path">
    <% @topic_path_items.each do |item| %>
      <li class="topic_path_item"><%= link_to "[X] #{item[:label]}",
                                              item[:path],
                                              :title => item[:title] %></li>
    <% end %>
  </ul>
<% end %>

<%= render :partial => "drilldown_groups" %>

<% unless @search_request.empty? %>
    <% if @entries.size > 0 %>
      <%= will_paginate @raw_entries,
                        :previous_label => t("search_result_previous_link"),
                        :next_label => t("search_result_next_link") %>
      <dl>
        <% @entries.each do |entry| %>
          <dt><%= link_to entry.title, entry.url %></dt>
            <dd><%= entry.summary %></dd>
        <% end %>
      </dl>
      <%= will_paginate @raw_entries,
                        :previous_label => t("search_result_previous_link"),
                        :next_label => t("search_result_next_link") %>
    <% else %>
      <p><%= t("not_found_message") %></p>
    <% end %>
<% end %>

