<h1>Search</h1>
<% form_for(@search_request,
            :url => {:controller => "search",
                     :action => "index"}) do |f| %>
  <p>query: <%= f.text_field :query, :size => 25 %></p>
<% end %>
<p>category: <%= @search_request.category %></p>
<p>type: <%= @search_request.type %></p>
<p>page: <%= @search_request.page %></p>

<% unless @drilldown_groups.empty? %>
  <ul>
    <% @drilldown_groups.each do |name, items| %>
      <li><%= name %><ul>
        <% items.each do |item| %>
          <li><%= link_to item.label_with_count,
                          item.path(:base_path => @base_path,
                                    :options => @search_request_params) %></li>
        <% end %>
      </ul></li>
    <% end %>
  </ul>
<% end %>

<% unless @search_request.empty? %>
  <% if @entries.size > 0 %>
    <dl>
      <% @entries.each do |entry| %>
        <dt><%= link_to entry.title, entry.url %></dt>
          <dd><%= entry.summary %></dd>
      <% end %>
    </dl>
  <% else %>
    <p>not found.</p>
  <% end %>
<% end %>

