<%= render :partial => "form" %>

<% unless @topic_path_items.empty? %>
  <ul class="topic_path">
    <% @topic_path_items.each do |item| %>
      <li class="topic_path_item"><%= link_to "[X] #{item[:label]}",
                                              item[:path],
                                              :title => item[:title] %></li>
    <% end %>
  </ul>
<% end %>

<%= render :partial => "drilldown_groups" %>

<% unless @search_request.empty? %>
    <% if @entries.size > 0 %>
      <%= will_paginate @raw_entries,
                        :previous_label => t("search_result_previous_link"),
                        :next_label => t("search_result_next_link") %>
      <table class="search_result">
        <% @entries.each do |entry| %>
          <tbody class="search_result_item">
            <tr><td class="search_result_icon" rowspan="3"><%= file_type_icon(entry.type) %></td>
                <th class="search_result_title"><%= link_to entry.title, entry.url %></th></tr>
            <tr><td class="search_result_location"><%= link_to entry.url, entry.url %></td></tr>
            <tr><td class="search_result_summary"><%= entry.summary %></td></tr>
          </tbody>
        <% end %>
      </table>
      <%= will_paginate @raw_entries,
                        :previous_label => t("search_result_previous_link"),
                        :next_label => t("search_result_next_link") %>
    <% else %>
      <p><%= t("not_found_message") %></p>
    <% end %>
<% end %>

