    <ol class="topic_path">
<% unless current_page?(search_path) -%>
      <li class="topic_path_item">
        <%= link_to(t("search_top"), search_path) %>
      </li>
<% end -%>
      <% @topic_path.each_with_index do |item, index| %>
        <li class="topic_path_item"
            data-key="<%= item.key %>"
            data-value="<%= item.value %>">
          <span class="topic_path_item_<%= item.key %>_label">
            <% current_topic_path = @topic_path[0..index] -%>
            <%= link_to_unless(@topic_path.last == item,
                               item.value_label,
                               { :controller => 'search', :action => 'index',
                                 :search_request => current_topic_path.search_request },
                               :title => current_topic_path.title,
                               :class => "topic_path_link") %>
          </span>
          <%= delete_topic_path_link(@topic_path, item) %>
        </li>
      <% end %>
    </ol>
