<div class="search_request">
  <%= render :partial => "form" %>
  <%= render :partial => "drilldown_groups" %>
  <%= render :partial => "topic_path" %>
</div>
<div class="search_result">
  <p class="search_result_error_message">
    <%= t("invalid_request_message") %>
  </p>
  <p class="back_to_top">
    <%= link_to(t("please_back_to_top_page_message"), search_path) %>
  </p>
  <ul class="search_result_error_messages">
    <% @bad_request.errors.each do |field, message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>

