<div class="search_request">
  <%= render :partial => "form" %>
  <%= render :partial => "drilldown_groups" %>
  <%= render :partial => "topic_path" %>
</div>

<% unless @search_request.empty? %>
<div class="search_result">
  <% if @result_set.n_hits > 0 %>
    <p class="search_result_count" data-count="<%= @result_set.n_hits %>">
      <%= t("search_result_count", :count => @result_set.n_hits) %>
      <%= t("search_elapsed_time", :elapsed_time => ("%.3f" % @elapsed_time)) %>
    </p>
    <div class="autopagerize_page_element">
      <div id="pagination_top">
        <%= paginate @result_set %>
      </div>
      <%= render(:partial => "entries") %>
      <div id="pagination_bottom">
        <%= paginate @result_set %>
      </div>
    </div>
  <% else %>
    <p class="search_result_message"><%= t("search_result_not_found_message") %></p>
  <% end %>
</div>
<% end %>
