<div class="search_request">
  <%= render :partial => "form" %>
  <%= render :partial => "drilldown_groups" %>
  <%= render :partial => "topic_path" %>
</div>
<div class="search_result">
  <p class="search_result_error_message">
    <%= t("not_found_message") %>
    <%= t("please_back_to_top_page_message") %>
  </p>
</div>

