<ol class="topic_path">
  <li class="topic_path_item">
    <%= link_to_unless_current(t("search_top"), search_path) %>
  </li>
  <li class="topic_path_item">
    <%= link_to_unless_current(t("help_label"), help_path) %>
  </li>
</ol>

<h1><%= @title || @ranguba_template.title %>の使い方</h1>

<div>
  <%= image_tag("screenshots/toppage.png") %>
</div>

<p>
  (1) のテキストボックスに任意の検索文字列を入力して「検索」ボタンをク
  リックしてください。そうすると、画面の下部に検索結果が表示されます。
  スペースで区切った文字列を入力すると、それらの文字列をを全て含むペー
  ジを検索します。
</p>

<p>
  検索結果は以下のようになります。
</p>

<div>
  <%= image_tag("screenshots/search_result.png") %>
</div>

<h2>検索結果画面の説明</h2>

<p>
  この検索結果で使用している条件は、「フリー ソフトウェア」(わかりにく
  いかもしれませんがスペースで区切っています。)とファイル形式「HTML」
  を指定しています。
</p>

<ul>
  <li>(1) には検索した文字列が入力された状態になっています</li>
  <li>
    (2) には現在の条件に、「ブログ」や「公開」カテゴリを追加して検索する
    と何件見つかるのか、が表示されています。検索結果のないカテゴリは表
    示されません。
  </li>
  <li>
    (3)は最初の画像では「ファイル形式」だったのですが、既に検索条件
    に指定しているため、ファイル形式の条件は表示されません。
  </li>
  <li>
    (4)には「トピックパス」や「パンくずリスト」と呼ばれているものが表
    示されています。検索トップページからどのような条件を辿って、現在の
    検索結果が表示されているのかがわかるようになっています。
    このトピックパスの途中のリンクをクリックすると、その条件までのトピッ
    クパスで表現されている検索条件で検索します。
    また、それぞれの条件の右側に付いている「×」アイコンをクリックする
    とその条件だけを検索条件から削除することができます。
  </li>
  <li>
    (5) には検索結果の件数と検索にかかった時間が表示されます。
  </li>
  <li>
    (6) は検索結果が11件以上あった場合のみ表示されます。数字をクリック
    するとそのページに遷移します。
  </li>
</ul>

