<ol class="topic_path">
  <li class="topic_path_item">
    <%= link_to_unless_current(t("search_top"), search_path) %>
  </li>
  <li class="topic_path_item">
    <%= link_to_unless_current(t("help_label"), help_path) %>
  </li>
</ol>

<h1><%= @title || @ranguba_template.title %>の使い方</h1>

<p>
  <%= @title || @ranguba_template.title %>は簡単に絞り込めることが特徴の文書検索システムです。
  目的の文書を見つけるために以下の2種類の方法を利用します。
</p>

<ul>
  <li>キーワードで全文検索</li>
  <li>クリックで絞り込み</li>
</ul>

<p>
  まず、キーワードで全文検索する方法を説明し、その後、クリックで絞り込む方法を説明します。
  最後に、全文検索・絞り込み以外の機能について説明します。
</p>

<h2>キーワードで全文検索</h2>

<p>
  通常の文書検索システムと同様にキーワードで検索することができます。
</p>

<div>
  <%= image_tag("screenshots/top_page.png") %>
</div>

<p>
  キーワードで全文検索するには(1)のテキストボックスにキーワードを入力し、「検索」ボタンをクリックします。
  「検索」ボタンをクリックすると、入力したキーワードを含む文書が画面の下部に表示されます。
</p>

<p>
  以下はキーワード「フリー ソフトウェア」で検索した例です。
  キーワードを含む文書が表示されています。
</p>

<div>
  <%= image_tag("screenshots/search_result.png") %>
</div>

<p>
  検索結果には文書へのリンクだけではなく、文書の内容も表示されます（(8)の部分）。
  キーワードで検索した場合は、キーワード周辺の文書の内容も表示し、キーワードを<em class="keyword">ハイライト</em>します。
</p>

<p>
  検索したキーワードは(1)のテキストボックスに残っているため、キーワードを修正して再検索することができます。
</p>

<p>
  また、スペースで区切って複数のキーワードを入力することにより、「すべてのキーワードを含む文書」を検索します。
  上記の例「フリー<em class="keyword">&nbsp;</em>ソフトウェア」は「フリー」、「<em class="keyword">&nbsp;</em>」（スペース）、「ソフトウェア」となっているため、「フリー」と「ソフトウェア」を両方含む文書を検索しています。
</p>

<h2>クリックで絞り込み</h2>

<p>
  キーワードを入力せずにクリックで絞り込んでいくこともできます。
</p>

<div>
  <%= image_tag("screenshots/top_page.png") %>
</div>

<p>
  あらかじめグループ化された項目が設定されているため、そのグループで絞り込むことができます。
  グループ化された項目はリンクとなっているので、キーワードを入力しなくても、クリックで絞り込むことができます。
  (2)は「カテゴリ」のグループで、(3)は「ファイル形式」のグループです。
</p>

<p>
  クリックで絞り込む方法はキーワードで全文検索する方法と組み合わせることができるため、「まずキーワードで大きく絞り込んでから、クリックで細かく絞り込む」という使い方や、「まずファイル形式で大きく絞り込んでから、キーワードで目的の文書を見つける」という使い方ができます。
  以下はファイル形式が「HTML」の文書で絞り込んだ後に、キーワード「フリー<em class="keyword">&nbsp;</em>ソフトウェア」で絞り込んだ例です。
</p>

<div>
  <%= image_tag("screenshots/search_result.png") %>
</div>

<p>
  検索結果のページの中にもクリックで絞り込むためのリンクが含まれています。
</p>

<ul>
  <li>
    <p>
      (2)の「カテゴリ」グループの内容が更新され、絞り込める項目だけが表示されます。
      「条件を追加して絞り込むと1件も見つからないカテゴリ」は表示しません。
      これにより無駄な絞り込みをすることがなくなります。
    </p>
    <p>
      また、絞り込める項目の横には「絞り込み後に見つかる件数」が表示されています。
      これを見ると実際に絞り込む前にどのくらい絞り込めるのかを確認できるため、無駄な絞り込みを避けたり、適切な絞り込みを選びやすくなります。
    </p>
  </li>
  <li>
    検索前は(2)の後に「ファイル形式」で絞り込むリンクがありましたが、すでに「ファイル形式」で絞り込んでいるため、表示されません。
  </li>
  <li>
    <p>
     (4)には現在の絞り込み条件が表示されます。
     ここにはトップページからどのような条件を辿って、現在の検索結果になっているかを示しています。
     「トピックパス」や「パンくずリスト」と呼ばれているものと同じ機能です。
    </p>
    <p>
      途中のリンクをクリックすると、そのリンク以降の条件を除いた条件で絞り込みます。
      例えば、「HTML」をクリックすると、「HTML」の右側にある条件「フリー」と「ソフトウェア」を除いた条件で絞り込みます。この場合は「HTML」のみで絞り込みます。
    </p>
    <p>
      また、それぞれの条件の右側に付いている「×」アイコンをクリックするとその条件だけを絞り込み条件から削除することができます。
      例えば、「HTML」の右側の「×」アイコンをクリックすると、絞り込み条件から「HTML」が削除され、「フリー」と「ソフトウェア」だけで絞り込みます。
    </p>
  </li>
  <li>
    <p>
      見つかった各文書の下部(7)にも「カテゴリ」または「ファイル形式」で絞り込むリンクが表示されます。
      これは、この文書が所属している「カテゴリ」または「ファイル形式」で絞り込むためのリンクになっています。
      同じグループの文書が見つかった場合は、このリンクをクリックすることにより、簡単に絞り込むことができます。
    </p>
    <p>
      すでにその項目で絞り込んでいる場合は、絞り込む必要がないため、リンクになりません。
      例えば、すでに「カテゴリ」で絞り込んでいる場合は「カテゴリ」で絞り込むリンクにはなりません。
    </p>
  </li>
</ul>

<h2>絞り込み以外の検索結果画面の項目</h2>

<p>絞り込み機能以外の検索結果画面の項目を説明します。</p>

<div>
  <%= image_tag("screenshots/search_result.png") %>
</div>

<ul>
  <li>
    (5)は検索結果の件数と検索にかかった時間を表示しています。
  </li>
  <li>
    <p>
      (6)は検索結果が21件以上あった場合のみ表示されます。
      表示されているページに目的の文書が見つからなかった場合は、数字をクリックしてさらに検索された文書を確認します。
    </p>
    <p>
      キーワードで全文検索した場合は、よりキーワードに一致する文書順に並び替えられています。
      次のページに進むほどにつれて、キーワードへの一致度は小さくなります。
      そのため、最初のページまたは最初の数ページに目的の文書がない場合は絞り込み条件を変えた方が効率的に目的の文書を探すことができます。
    </p>
  </li>
</ul>
